<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 text-center"></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-hover">
          <thead class="thead-light">
            <th>Project NO.</th>
            <th>Project Name.</th>
            <th>Manager Name.</th>
            <th>Task NO.</th>
            <th>Start Date</th>
            <th>Submition Date</th>
            <th>
              <button class="btn btn-outline-success" routerLink="../">
                Create New
              </button>
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let proj of projList; let i =index " (click)="edit(proj)">
              <th>{{ i+1 }}</th>
              <td>{{ proj.projectName }}</td>
              <td>{{ proj.ManagerName }}</td>
              <td>{{ proj.numOfTask }}</td>
              <td>{{ proj.stDate }}</td>
              <td>{{ proj.endDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
