<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4 text-center">My Tasks</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table table-hover">
          <thead class="thead-light">
            <th>Task NO.</th>
            <th>Project Name</th>
            <th>Manager Name</th>
            <th>Start Date</th>
            <th>Submition Date</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasksres">
              <th>{{ task._id }}</th>
              <td>{{ task.projectId }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.startdate }}</td>
              <td>{{ task.enddate }}</td>
              <td>
                <a (click)="onEditTask()">
                  <span class="material-icons">
                    create
                  </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
