<div class="features-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Open Positions</h2>
    </div>
    <div class="row justify-content-center features">
      <div class="col-sm-6 col-md-5 col-lg-4 item">
        <div class="box">
          <mat-icon>work</mat-icon>
          <h3 class="name">NEW</h3>
          <p class="description" style="font-size: 18px;">
            <mat-icon></mat-icon>
          </p>
          <a class="learn-more" href="#">Announce a job</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 item">
        <div class="box">
          <mat-icon>work</mat-icon>
          <h3 class="name">Front- End developer</h3>
          <p class="description" style="font-size: 18px;">
            <mat-icon>place</mat-icon>
            Ram-Allah
          </p>
          <a class="learn-more" href="#">Learn more »</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 item">
        <div class="box">
          <mat-icon>work</mat-icon>
          <h3 class="name">Q&A Engineer</h3>
          <p class="description" style="font-size: 18px;">
            <mat-icon>place</mat-icon>
            Birzeit
          </p>
          <a class="learn-more" href="#">Learn more »</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 item">
        <div class="box">
          <mat-icon>work</mat-icon>
          <h3 class="name">Front-End</h3>
          <p class="description" style="font-size: 18px;">
            <mat-icon>place</mat-icon>
            Al-Ram
          </p>
          <a class="learn-more" href="#">Learn more »</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4 item">
        <div class="box">
          <mat-icon>work</mat-icon>
          <h3 class="name">DV Engineer</h3>
          <p class="description" style="font-size: 18px;">
            <mat-icon>place</mat-icon>
            Dier-Alsudan
          </p>
          <a class="learn-more" href="#">Learn more »</a>
        </div>
      </div>
    </div>
  </div>
</div>
