<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ name }}</h2>
      <h4>{{ email }}</h4>
    </div>
    <img
      src="http://clipart-library.com/images/8TAbXEkqc.png"
      alt="User Image"
    />
  </div>
  <mat-divider></mat-divider>
  <h2 mat-subheader>Pages</h2>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="dash"
    selected
    >Dashboard</a
  >

  <mat-divider></mat-divider>

  <h2 mat-subheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>
