:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}
mat-card{
  width: 100%;
  margin-left: 30px;
  height: 60px;
}
.head {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}
