<mat-toolbar>
  <div>
    <a routerLink="HOME">HOME</a>
    <a routerLink="PROJECTS">PROJECTS</a>
    <a routerLink="EMPLOYEES">EMPLOYEES</a>
    <a routerLink="TEAMS">TEAMS</a>
    <a routerLink="FREELANCERS">FREELANCERS</a>

    <a routerLink="CreatCompany">COMPANY</a>


  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink='' mat-menu-item>EXIT</button>
  </mat-menu>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
